{% load static %}
<link rel="stylesheet" href="{% static 'websheets/xspreadsheet/xspreadsheet.css' %}">
        <script src="{% static 'websheets/xspreadsheet/xspreadsheet.js' %}"></script>
        <script src="{% static 'websheets/csvjs/csv.min.js' %}"></script>
        <script src="{% static 'websheets/websheets.js' %}"></script>


<input type="hidden" name="{{ inline_admin_formset.formset.prefix }}-csvdata" value=""/>
{{ inline_admin_formset.formset.management_form }}

<h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
{{ inline_admin_formset.formset.non_form_errors }}

<div id="{{ inline_admin_formset.formset.prefix }}-websheet"
    style="width: 100%; height: 200px;">
    <!--{{ inline_admin_formset.formset.instance }} A --></div>
        
<script>
    var id='{{ inline_admin_formset.formset.prefix }}-websheet';
    var el=el=document.getElementById(id);
    var ws=Websheet(id, 'message', 
    "", false, true, {
        view:{
            width: () => {return el.clientWidth;},
            height: () => {return el.clientHeight;}
        }
    });
</script>



