{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'websheets/xspreadsheet/xspreadsheet.css' %}">
        <script src="{% static 'websheets/xspreadsheet/xspreadsheet.js' %}"></script>
        <script src="{% static 'websheets/csvjs/csv.min.js' %}"></script>
        <script>
           const csvdata = {{ json | safe }}; {# FIXME escape <, > and & #}
        </script>
    </head>
    <body>
        <div id="xspreadsheet"></div>
        
        <script src="{% static 'websheets/websheets.js' %}"></script>
    </body>
</html>
