{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'websheets/xspreadsheet/xspreadsheet.css' %}">
        <script src="{% static 'websheets/xspreadsheet/xspreadsheet.js' %}"></script>
        <script src="{% static 'websheets/csvjs/csv.min.js' %}"></script>
        <script src="{% static 'websheets/websheets.js' %}"></script>
        <script>
           const csvdata = {{ json | safe }}; {# FIXME escape <, > and & #}
           const allowSave = {{ allow_save }};
           const hideIdCol = {{ hide_id_col }};
           const csrf_token="{{ csrf_token }}";
        </script>
        <script>


function load() {
    var ws=Websheet('xspreadsheet', 'message', csvdata, allowSave, hideIdCol);
    if(allowSave) {
        // Save with control S
        window.onkeydown=(function(event) { 
            if ((event.ctrlKey || event.metaKey) && (String.fromCharCode(event.which).toLowerCase() == 's')) {
                    event.preventDefault();
                    ws.save();
            }
        });
        window.onbeforeunload = function(e){
            if(ws.dirty) {
                // Cancel the event
                e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
                // Chrome requires returnValue to be set
                e.returnValue='';
            }else{
                delete e['returnValue'];
                return;
            }
        };
    }
    

}
        </script>
        <style>
#message {
    display: block;
    position: fixed;
    top: 0.3em;
    right: 0px;
    color: black;
    padding: 0em 0.5em;
    margin: 0em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

        </style>
    </head>
    <body onload="load()">
        <div id="xspreadsheet"></div>
        <div id="message" style="display:none"></div>
    </body>
</html>
